src/main/resources/services/ValidatorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	targetNamespace="http://adms-ap.semic.eu/ValidatorService/"
	xmlns:tns="http://adms-ap.semic.eu/ValidatorService/" xmlns:val="http://adms-ap.semic.eu/validator/1.0/xsd"
	name="ValidatorService">

	<wsdl:types>
		<xsd:schema targetNamespace="http://adms-ap.semic.eu/ValidatorService/">
			<xsd:import namespace="http://adms-ap.semic.eu/validator/1.0/xsd"
				schemaLocation="../entities/validator.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="DefinitionRequest">
		<wsdl:part element="val:DefinitionRequestType" name="parameters" />
	</wsdl:message>
	<wsdl:message name="DefinitionResponse">
		<wsdl:part element="val:DefinitionResponseType" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ValidateRequest">
		<wsdl:part element="val:ValidateRequestType" name="parameters" />
	</wsdl:message>
	<wsdl:message name="ValidateResponse">
		<wsdl:part element="val:ValidateResponseType" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="IValidatorService">
		<wsdl:operation name="getDefinition">
			<wsdl:input message="tns:DefinitionRequest" />
			<wsdl:output message="tns:DefinitionResponse" />
		</wsdl:operation>
		<wsdl:operation name="validate">
			<wsdl:input message="tns:ValidateRequest" />
			<wsdl:output message="tns:ValidateResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ValidatorServiceSOAPBinding" type="tns:IValidatorService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getDefinition">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="validate">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ValidatorService">
		<wsdl:port name="ValidatorServicePort" binding="tns:ValidatorServiceSOAPBinding">
			<soap:address
				location="http://localhost:8080/ADMS-AP_Validator/services/validator/ValidatorService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>