src/main/resources/gitb_vs.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="http://www.gitb.com/vs/v1/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.gitb.com/vs/v1/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	name="ValidationService">

	<types>
		<xsd:schema>
			<xsd:import namespace="http://www.gitb.com/vs/v1/" schemaLocation="gitb_vs.xsd"/>
		</xsd:schema>
	</types>

	<message name="getModuleDefinition">
		<part element="tns:GetModuleDefinitionRequest" name="parameters" />
	</message>
	<message name="getModuleDefinitionResponse">
		<part element="tns:GetModuleDefinitionResponse" name="parameters" />
	</message>
	<message name="validate">
		<part element="tns:ValidateRequest" name="parameters" />
	</message>
	<message name="validateResponse">
		<part element="tns:ValidationResponse" name="parameters" />
	</message>
	<message name="ADMSError">
		<part element="tns:ADMSException" name="fault" /> 
  	</message>
  	

	<portType name="ValidationService">
		<operation name="getModuleDefinition">
			<input message="tns:getModuleDefinition" />
			<output message="tns:getModuleDefinitionResponse" />
		</operation>
		<operation name="validate">
			<input message="tns:validate" />
			<output message="tns:validateResponse" />
			<fault message="tns:ADMSError" name="ADMSError" />
		</operation>
	</portType>

	<binding name="ValidationServiceSOAPBinding" type="tns:ValidationService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getModuleDefinition">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="validate">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="ADMSError">
		    	<soap:fault name="ADMSError" use="literal" />
		    </fault>
		</operation>
	</binding>

	<service name="ValidationService">
		<port name="ValidationServicePort" binding="tns:ValidationServiceSOAPBinding">
			<soap:address location="/services/validator"/>
		</port>
	</service>

</definitions>